# Random Forest

# Read the CSV and Perform Basic Data Cleaning

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("exoplanet_data.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,koi_disposition,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_period_err1,koi_period_err2,koi_time0bk,koi_time0bk_err1,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,CONFIRMED,0,0,0,0,54.418383,2.479000e-04,-2.479000e-04,162.513840,0.003520,...,-81,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,FALSE POSITIVE,0,1,0,0,19.899140,1.490000e-05,-1.490000e-05,175.850252,0.000581,...,-176,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
2,FALSE POSITIVE,0,1,0,0,1.736952,2.630000e-07,-2.630000e-07,170.307565,0.000115,...,-174,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
3,CONFIRMED,0,0,0,0,2.525592,3.760000e-06,-3.760000e-06,171.595550,0.001130,...,-211,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509
4,CONFIRMED,0,0,0,0,4.134435,1.050000e-05,-1.050000e-05,172.979370,0.001900,...,-232,4.486,0.054,-0.229,0.972,0.315,-0.105,296.28613,48.224670,15.714

In [3]:
df.columns

Index(['koi_disposition', 'koi_fpflag_nt', 'koi_fpflag_ss', 'koi_fpflag_co',
       'koi_fpflag_ec', 'koi_period', 'koi_period_err1', 'koi_period_err2',
       'koi_time0bk', 'koi_time0bk_err1', 'koi_time0bk_err2', 'koi_impact',
       'koi_impact_err1', 'koi_impact_err2', 'koi_duration',
       'koi_duration_err1', 'koi_duration_err2', 'koi_depth', 'koi_depth_err1',
       'koi_depth_err2', 'koi_prad', 'koi_prad_err1', 'koi_prad_err2',
       'koi_teq', 'koi_insol', 'koi_insol_err1', 'koi_insol_err2',
       'koi_model_snr', 'koi_tce_plnt_num', 'koi_steff', 'koi_steff_err1',
       'koi_steff_err2', 'koi_slogg', 'koi_slogg_err1', 'koi_slogg_err2',
       'koi_srad', 'koi_srad_err1', 'koi_srad_err2', 'ra', 'dec',
       'koi_kepmag'],
      dtype='object')

In [4]:
# Set features. This will also be used as your x values.
selected_features = df[['koi_fpflag_nt', 'koi_fpflag_ss', 'koi_fpflag_co',
       'koi_fpflag_ec', 'koi_period', 'koi_period_err1', 'koi_period_err2',
       'koi_time0bk', 'koi_time0bk_err1', 'koi_time0bk_err2', 'koi_impact',
       'koi_impact_err1', 'koi_impact_err2', 'koi_duration',
       'koi_duration_err1', 'koi_duration_err2', 'koi_depth', 'koi_depth_err1',
       'koi_depth_err2', 'koi_prad', 'koi_prad_err1', 'koi_prad_err2',
       'koi_teq', 'koi_insol', 'koi_insol_err1', 'koi_insol_err2',
       'koi_model_snr', 'koi_tce_plnt_num', 'koi_steff', 'koi_steff_err1',
       'koi_steff_err2', 'koi_slogg', 'koi_slogg_err1', 'koi_slogg_err2',
       'koi_srad', 'koi_srad_err1', 'koi_srad_err2', 'ra', 'dec',
       'koi_kepmag']]

# Create a Train Test Split

Use `koi_disposition` for the y values

In [5]:
X = selected_features
y = df['koi_disposition']
print(X.shape, y.shape)

(6991, 40) (6991,)

In [6]:
# Use train_test_split to create training and testing data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [7]:
# Scale your data
from sklearn.preprocessing import MinMaxScaler
X_minmax = MinMaxScaler().fit(X_train)

X_train_minmax = X_minmax.transform(X_train)
X_test_minmax = X_minmax.transform(X_test)

# Train the Model

In [8]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train_minmax, y_train)
training_score = rf.score(X_train_minmax, y_train)
testing_score = rf.score(X_test_minmax, y_test)
print(f"Training Data Score: {training_score}")
print(f"Testing Data Score: {testing_score}")

Training Data Score: 1.0
Testing Data Score: 0.898741418764302

In [9]:
rf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 200,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
sorted(zip(rf.feature_importances_, selected_features), reverse=True)

[(0.10030070231161713, 'koi_fpflag_co'),
 (0.0997597814673478, 'koi_fpflag_nt'),
 (0.07727996453143987, 'koi_fpflag_ss'),
 (0.053808105324538544, 'koi_model_snr'),
 (0.0370436477236259, 'koi_duration_err1'),
 (0.03523399696767411, 'koi_fpflag_ec'),
 (0.033417673409204075, 'koi_prad'),
 (0.03333688497842762, 'koi_duration_err2'),
 (0.03299770752959061, 'koi_prad_err1'),
 (0.03222972164003683, 'koi_steff_err1'),
 (0.029971906473981548, 'koi_prad_err2'),
 (0.028236992842655552, 'koi_steff_err2'),
 (0.023796003178068122, 'koi_time0bk_err1'),
 (0.023727148363834837, 'koi_time0bk_err2'),
 (0.023624069243234406, 'koi_period'),
 (0.02240045668260975, 'koi_duration'),
 (0.021489825510816768, 'koi_depth'),
 (0.02077567160916341, 'koi_period_err1'),
 (0.019654150714507147, 'koi_impact'),
 (0.018211269157597035, 'koi_insol_err1'),
 (0.017980477189025682, 'koi_teq'),
 (0.016756473335079358, 'koi_period_err2'),
 (0.014590018661685694, 'koi_depth_err2'),
 (0.014425680833776483, 'koi_insol'),
 (0.013891291221395118, 'koi_depth_err1'),
 (0.013610784159729366, 'koi_insol_err2'),
 (0.013426004890011072, 'koi_time0bk'),
 (0.01232141444686008, 'ra'),
 (0.011790689496736622, 'dec'),
 (0.011548102009869644, 'koi_srad_err1'),
 (0.01131293429403173, 'koi_impact_err1'),
 (0.011206723616740315, 'koi_kepmag'),
 (0.011181213370684263, 'koi_impact_err2'),
 (0.010560683472316706, 'koi_slogg_err2'),
 (0.009990455196870014, 'koi_steff'),
 (0.009013416405188865, 'koi_srad'),
 (0.008878011507038007, 'koi_slogg_err1'),
 (0.00885715252381111, 'koi_slogg'),
 (0.008393891867281922, 'koi_srad_err2'),
 (0.0029689018418969514, 'koi_tce_plnt_num')]

In [12]:
# Make predictions with the model
predictions = rf.predict(X_test_minmax)

In [13]:
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test.tolist()}).reset_index(drop=True)
results

          Prediction          Actual
0     FALSE POSITIVE  FALSE POSITIVE
1          CANDIDATE       CANDIDATE
2     FALSE POSITIVE  FALSE POSITIVE
3     FALSE POSITIVE  FALSE POSITIVE
4     FALSE POSITIVE  FALSE POSITIVE
...              ...             ...
1743       CANDIDATE       CANDIDATE
1744       CANDIDATE       CANDIDATE
1745       CONFIRMED       CONFIRMED
1746       CANDIDATE       CONFIRMED
1747       CONFIRMED       CONFIRMED

[1748 rows x 2 columns]

In [16]:
results.head(20)

        Prediction          Actual
0   FALSE POSITIVE  FALSE POSITIVE
1        CANDIDATE       CANDIDATE
2   FALSE POSITIVE  FALSE POSITIVE
3   FALSE POSITIVE  FALSE POSITIVE
4   FALSE POSITIVE  FALSE POSITIVE
5        CONFIRMED       CONFIRMED
6        CANDIDATE       CANDIDATE
7        CANDIDATE       CANDIDATE
8        CANDIDATE       CANDIDATE
9   FALSE POSITIVE  FALSE POSITIVE
10       CONFIRMED       CONFIRMED
11       CONFIRMED       CONFIRMED
12       CONFIRMED       CONFIRMED
13  FALSE POSITIVE  FALSE POSITIVE
14       CANDIDATE       CANDIDATE
15       CANDIDATE       CANDIDATE
16  FALSE POSITIVE  FALSE POSITIVE
17  FALSE POSITIVE  FALSE POSITIVE
18       CONFIRMED       CONFIRMED
19       CANDIDATE       CONFIRMED

In [17]:
results.tail(20)

          Prediction          Actual
1728       CONFIRMED       CONFIRMED
1729  FALSE POSITIVE  FALSE POSITIVE
1730       CANDIDATE       CONFIRMED
1731       CONFIRMED       CANDIDATE
1732  FALSE POSITIVE  FALSE POSITIVE
1733  FALSE POSITIVE  FALSE POSITIVE
1734  FALSE POSITIVE  FALSE POSITIVE
1735  FALSE POSITIVE  FALSE POSITIVE
1736  FALSE POSITIVE  FALSE POSITIVE
1737  FALSE POSITIVE  FALSE POSITIVE
1738  FALSE POSITIVE  FALSE POSITIVE
1739       CANDIDATE       CANDIDATE
1740  FALSE POSITIVE  FALSE POSITIVE
1741  FALSE POSITIVE  FALSE POSITIVE
1742  FALSE POSITIVE  FALSE POSITIVE
1743       CANDIDATE       CANDIDATE
1744       CANDIDATE       CANDIDATE
1745       CONFIRMED       CONFIRMED
1746       CANDIDATE       CONFIRMED
1747       CONFIRMED       CONFIRMED

In [19]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions,
                            target_names=["CONFIRMED", "FALSE POSITIVE", "CANDIDATE"]))

                precision    recall  f1-score   support

     CONFIRMED       0.83      0.76      0.79       411
FALSE POSITIVE       0.84      0.85      0.84       484
     CANDIDATE       0.97      1.00      0.98       853

      accuracy                           0.90      1748
     macro avg       0.88      0.87      0.87      1748
  weighted avg       0.90      0.90      0.90      1748

In [20]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'Ezra_Tassone_RF.sav'
joblib.dump(rf, filename)

['Ezra_Tassone_RF.sav']